# Dataset files
*.csv
*.pcap
*.pcapng
*.zip
*.parquet

# Large generated data
processed_data/
data/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db